//- base.pug
doctype html
html
  head
    title New Dnace Academy
    block scripts
    block style
  body
    nav#navbar
      ul#nav-ul
        div#logo
            img(src="/static/logo.png", alt="there was an img")
            | HDA 
        ul
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact Us]

    block content
  footer#footer  
      | Copyright © 2023 sherryDanceAcademy.com | All right reserved