/* styling on contact page  */
*{
margin: 0px;
padding: 0px;
}

#contact-sec {

    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    background-image:url("/static/form.webp") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}

.input-text {
    width: 50vw;
    height: 20px;
    padding: 12px;
    margin-bottom : 20px;
    background-color: black;
    /* margin-left: 315px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
}


h2{
    margin-top: 71px;
}
.btn{
    height: 20px;
    padding: 25px;
    margin-bottom: 20px;
    /* margin-left: 23vw; */
    border-radius: 12px;
    background-color: purple;
    color: white;
    font-weight: 600;
    display: block;
    margin: auto;
    /* text-align: center; */
}
.container{
    /* border: 2px solid black; */
    margin: 0px ;
}